<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Teste UI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="container" [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="cell-class ion-text-justify" size-sm="3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </ion-col>
      <ion-col class="cell-class ion-text-justify" size-sm="3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Mauris a diam maecenas sed enim ut sem viverra aliquet. Orci a scelerisque purus semper eget duis
        at tellus at. Scelerisque mauris pellentesque pulvinar pellentesque habitant. Turpis cursus in hac habitasse
        platea dictumst quisque sagittis purus. Lorem ipsum dolor sit amet consectetur adipiscing elit. Odio morbi quis
        commodo odio aenean sed adipiscing. Tellus integer feugiat scelerisque varius. Tellus elementum sagittis vitae
        et leo duis ut diam quam. Rutrum tellus pellentesque eu tincidunt tortor aliquam. Nunc id cursus metus aliquam
        eleifend mi in nulla posuere. Integer enim neque volutpat ac tincidunt vitae.
      </ion-col>
      <ion-col class="cell-class ion-text-justify" size-sm="3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Pharetra vel turpis nunc eget lorem dolor sed viverra. Volutpat est velit egestas dui id ornare.
        Mattis nunc sed blandit libero volutpat sed cras ornare arcu. Laoreet suspendisse interdum consectetur libero id
        faucibus. Dapibus ultrices in iaculis nunc sed. Lorem donec massa sapien faucibus et molestie ac feugiat sed.
        Ipsum suspendisse ultrices gravida dictum fusce ut placerat. Scelerisque eleifend donec pretium vulputate sapien
        nec sagittis. Condimentum lacinia quis vel eros donec ac odio tempor orci. Id velit ut tortor pretium viverra
        suspendisse. Aliquet lectus proin nibh nisl. Rutrum quisque non tellus orci ac auctor augue. Tellus in metus
        vulputate eu scelerisque felis. Porttitor lacus luctus accumsan tortor posuere.
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>